<h1>Sign Up Below:</h1>
<form>
  Your Name:<br>
  <input type="text" name="name" value="Your name here">
  Your Email:<br>
  <input type="text" name="email" value="Your email here">
  Your Password:<br>
  <input type="text" name="password" value="Your password here">
</form>


